[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
pyqldb = "*"
flask = "*"
flask-restx = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
